@import './assets/_master.css';

body,html,#root{
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  display: grid;
  place-items: center;
}
*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #000;
}

body{
  background-image: url(assets/background.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
