@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import '../../assets/_master.css';

.celda{
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    margin: 1px;
    border-radius: 3px;
    background-color: var(--background_1);
    font-family: 'Rubik', sans-serif;
    font-weight: 550;
}
.celda-revealed{
    background-color: var(--cream);
}

.bomb{
    width: 30px;
    height: 30px;
}


@media (max-width: 600px){
    .celda{
        height: 35px;
        width: 35px;
        font-size: 20px;
    }
    .bomb{
        width: 35px;
        height: 35px;
    }
}


