.profile{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 85%;
    width: 65%;
    background-image: url(../../assets/homeBackground.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
}
.profile-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: .3fr 1fr .3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "savedGame ."
      ". jugar";
  }
.profile-container-header{
      grid-area:buttonGroup;
      display: flex;
      justify-content: space-around;
  }

.profile-button-jugar{ 
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: jugar;
}

.profile-container-savedGame{
    
}

@media (max-width: 1050px) { 
    .home{
        width: 80%;
    }
    .home-container{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .2fr 1fr .3fr .2fr;
        gap: 0px 0px;
        grid-template-areas:
          ". buttonGroup"
          "welcome welcome"
          "jugar ."
          "aclaracion .";
    }
    .home-container-welcome{
        grid-area: welcome; 
        width: 75%;
    }
    .home-title{
        font-size: calc(2.5em + 1vw);
    }
    .home-text{
        font-size: 17px;
    }
}

@media (max-width: 700px) { 
    .home{
        width: 80%;
    }
    .home-title{
        font-size: calc(2.5em + 1vw);
    }
    .home-text{
        width: 80%;
        font-size: 14px;
    }
    .home-container{
        height:  100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: .4fr 1fr .8fr .1fr;
        grid-template-areas:
        "buttonGroup"
        "welcome"
        "jugar"
        "aclaracion";
    }
    .home-container-welcome{
        grid-area: welcome; 
        width: 100%;
    }
    .home-button-jugar{ 
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: jugar;
       }
}

