@import '../../assets/_master.css';

.profile{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 85%;
    width: 65%;
    background-image: url(../../assets/homeBackground.svg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
}
.profile-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 1.2fr .2fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "savedGame ."
      ". jugar";
  }
.profile-container-header{
      color:white;
      grid-area:header;
      display: flex;
      justify-content: space-between;
  }

.profile-button-jugar{ 
    grid-area: jugar;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.profile-name{
    display: flex;
}
.iconProfile{
    margin: 0px 10px ;
    height: 40px;
    width: 40px;
}
.profile-container-savedGame{
    display:grid;
    place-items: center;
    grid-area: savedGame;
}


@media (max-width: 900px){
    .profile-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        grid-template-rows: .2fr 1.2fr .2fr;
        gap: 0px 0px;
        grid-template-areas:
          "header header"
          "savedGame ."
          ". jugar";
      }
}

@media (max-width: 720px) {
    .profile{
        width: 85%;
    } 
    .profile-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .2fr 1.2fr .2fr;
        gap: 0px 0px;
        grid-template-areas:
          "header "
          "savedGame"
          "jugar";
      }

    }