@import '../../assets/_master.css';

.table-game{
    display: flex;
    justify-content: center;
}
.mainContainerGame{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.game-container {
    box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #7b5b6f;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
    "headerGame"
    "table";
}
.game-container-headerGame {
    border-radius: 20px 20px 0px 0px;
    grid-area: headerGame; 
    background: var(--background_3);
}

.game-container-table { 
    padding: 20px;
    display: grid;
    place-items: center;
    grid-area: table; 
}

@media (max-width: 400px){
    .game-container {
        margin: 10px;
    }
    .game-container-table { 
        padding: 10px;}

}